html
    head
        script(src="lib/jquery.js")

    body
        div.container(data-height="1000")
            img(src="images/1.jpg")
            img(src="images/2.jpg")
            img(src="images/3.jpg")
            img(src="images/4.jpg")

        script(src="fadeshow.js")
        script(src="main.js")
